<!-- <div class="footer">
  Footer
</div> -->
<footer class="footer clearfix">
    <div class="footer-inner clearfix">
      <div class="clearfix">
        <div class="fooCol">
          <div class="fooLogo"><img src="assets/images/strayos_footer_logo.png" alt=""></div>
        </div>
        <div class="fooCol">
          <h5>OVERVIEW</h5>
          <ul class="fooNav">
            <li><a href="https://www.strayos.com/solutions.html">How it works</a></li>
            <li><a href="https://www.strayos.com/solutions.html">Solutions</a></li>
          </ul>
        </div>
        <div class="fooCol">
          <h5>COMPANY</h5>
          <ul class="fooNav">
            <li><a href="https://www.strayos.com/about.html">About Us</a></li>
            <li><a href="https://blog.strayos.com/">Blog</a></li>
          </ul>
        </div>
        <div class="fooCol">
          <h5>HELP</h5>
          <ul class="fooNav">
            <li><a href="https://www.strayos.com/contact.html">Contact Us</a></li>
            <li><a href="https://www.strayos.com/privacy-policy.html">Privacy Policy</a></li>
            <li><a href="https://www.strayos.com/terms-of-use.html">Terms of Use</a></li>
          </ul>
        </div>
        <div class="fooCol">
          <ul class="social">
            <li><a href="https://www.linkedin.com/company-beta/11121185/" target="_blank"><img src="assets/images/icon_in.png" alt=""></a></li>
            <li><a href="https://www.facebook.com/strayos/" target="_blank"><img src="assets/images/icon_fb.png" alt=""></a></li>
            <li><a href="https://www.twitter.com/StrayosAI" target="_blank"><img src="assets/images/icon_twitter.png" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright clearfix">Copyright © 2017 Strayos Inc. All rights reserved.</div>
    </div>
  </footer>